test/src/main/app/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
	<flow name="accounts2Flow1" initialState="started">
		<file:inbound-endpoint path="C:\Users\kolowski001\Desktop\karol" responseTimeout="10000"
			doc:name="File" moveToDirectory="C:\Users\kolowski001\Desktop\karolw">
			<file:filename-regex-filter pattern="ORDER.xml" caseSensitive="false" />
		</file:inbound-endpoint>
		<dw:transform-message doc:name="Transform Message" metadata:id="a1bb71a2-df77-4e2d-9781-f7fd06ee01de">
			<dw:input-payload doc:sample="C:\Users\kolowski001\Desktop\karol\ORDER.xml" />
			<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.adventure-works.com
---
payload]]></dw:set-payload>
		</dw:transform-message>

		<mulexml:xslt-transformer name="xslt" doc:name="XSLT">
			<mulexml:xslt-text>
				<xsl:stylesheet version="3.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:xs="http://www.w3.org/2001/XMLSchema"
					xmlns:fn="http://www.w3.org/2005/xpath-functions">
					<xsl:output method="xml" />
					<xsl:template match="/">
						<main>
							<xsl:call-template name="repeatable" />
						</main>

					</xsl:template>

					<xsl:template name="repeatable">
						<xsl:param name="index" select="1" />
						<xsl:param name="total" select="5000" />

						<Orders>
							<xsl:for-each select="catalog/cd">
								<Order>
									<xsl:attribute name="position">
                                <xsl:value-of select="concat(position(),current()/country)" />
                            </xsl:attribute>
									<id>
									<xsl:value-of select="position()" />
									</id>
									<tytyl>

										<xsl:value-of select="current()/title" />
									</tytyl>
									<artysta>
										<xsl:attribute name="length"><xsl:value-of select="string-length(current()/artist)" /></xsl:attribute>
										<xsl:value-of select="current()/artist" />
									</artysta>
									<kraj>
										<xsl:value-of select="current()/country" />
									</kraj>
									<firma>
										<xsl:value-of select="current()/company" />
									</firma>
									<cena>
										<xsl:value-of select="current()/price" />
									</cena>
									<rok>
										<xsl:value-of select="current()/year" />
									</rok>
									<data>
										<xsl:value-of select="current-dateTime()" />
									</data>
								</Order>
							</xsl:for-each>
						</Orders>

						<xsl:if test="not($index = $total)">
							<xsl:call-template name="repeatable">
								<xsl:with-param name="index" select="$index + 1" />

							</xsl:call-template>
						</xsl:if>
					</xsl:template>




				</xsl:stylesheet>
			</mulexml:xslt-text>

		</mulexml:xslt-transformer>
        <logger level="INFO" doc:name="Logger"/>
		<byte-array-to-string-transformer doc:name="Byte Array to String" />
        <logger level="INFO" doc:name="Logger"/>
		<file:outbound-endpoint path="C:\Users\kolowski001\Desktop\karol" outputPattern="RESULTS_small.xml"
			responseTimeout="10000" doc:name="File" />
	</flow>
    <flow name="Copy_of_testFlow" initialState="started">
        <file:inbound-endpoint path="C:\Users\kolowski001\Desktop\karol" moveToDirectory="C:\Users\kolowski001\Desktop\karolw" responseTimeout="10000" doc:name="File">
            <file:filename-regex-filter pattern="RESULTS_small.xml" caseSensitive="true"/>
        </file:inbound-endpoint>
        <logger message="#[payload]" level="INFO" doc:name="Copy_of_Logger"/>
        <dw:transform-message doc:name="Copy_of_Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java

---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Copy_of_Logger"/>
        <logger level="INFO" doc:name="Logger"/>
        <foreach doc:name="For Each">
            <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            <logger level="INFO" doc:name="Logger"/>
        </foreach>
    </flow>
</mule>
