MuleProjects/salesforce_v2/target/classes/salesforce_v1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <flow name="salesforce_v1Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/sf" allowedMethods="GET" doc:name="HTTP"/>
        <sfdc:query config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT BillingCity,BillingCountry,BillingPostalCode,BillingState,BillingStreet,Name FROM Account" doc:name="Salesforce"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
        <flow-ref name="salesforce_v1Sub_Flow" doc:name="Flow Reference"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>

    </flow>
    <sub-flow name="salesforce_v1Sub_Flow">
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data\list_Account.dwl"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
Konta: {
	(payload map  {
		Klient: {
			nr: 'Klienci$$',
			Miasto: $.BillingCity,
			Kraj: $.BillingCountry,
			Kod: $.BillingPostalCode,
			Stan: $.BillingState,
			Ulica: $.BillingStreet,
			Nazwa: $.Name
		}
	})
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <object-to-byte-array-transformer doc:name="Object to Byte Array"/>
        <scatter-gather doc:name="Scatter-Gather">
            <file:outbound-endpoint path="C:\Users\kolowski001\Desktop\karol" outputPattern="asdf.xml" responseTimeout="10000" doc:name="File"/>
            <flow-ref name="salesforce_v1Sub_Flow1" doc:name="Flow Reference"/>
        </scatter-gather>
    </sub-flow>
    <sub-flow name="salesforce_v1Sub_Flow1">
        <dw:transform-message doc:name="Transform Message" metadata:id="4ea25db9-904b-40ff-b4cd-787e9ea012ee">
            <dw:input-payload doc:sample="sample_data\list_Account_1.dwl" mimeType="application/xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="C:\Users\kolowski001\Desktop\karol" outputPattern="asdf.json" responseTimeout="10000" doc:name="File"/>
    </sub-flow>
    <flow name="getCSVAccountsFlow" initialState="stopped">
        <file:inbound-endpoint path="C:\Users\kolowski001\AnypointStudio\workspace\salesforce_v2\src\main\resources\input" moveToDirectory="C:\Users\kolowski001\AnypointStudio\workspace\salesforce_v2\src\main\resources\output" responseTimeout="10000" doc:name="File"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <foreach doc:name="For Each">
            <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        </foreach>
        <logger message="#[payload[0]]" level="INFO" doc:name="Logger"/>
    </flow>
    <batch:job name="salesforce_v1Batch">
        <batch:input>
            <file:inbound-endpoint path="C:\Users\kolowski001\AnypointStudio\workspace\salesforce_v2\src\main\resources\input" moveToDirectory="C:\Users\kolowski001\AnypointStudio\workspace\salesforce_v2\src\main\resources\output" responseTimeout="10000" doc:name="File"/>
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
            </dw:transform-message>
            <logger level="INFO" doc:name="Logger"/>
            <set-variable variableName="size" value="#[payload.size]" doc:name="Variable"/>
        </batch:input>
        <batch:process-records>
            <batch:step name="Batch_Step">
                <batch:set-record-variable variableName="fname" value="#[payload.Name]" doc:name="fname"/>
                <batch:set-record-variable variableName="rname" value="#[payload.Name]" doc:name="rname"/>
                <logger level="INFO" doc:name="Logger"/>
                <logger message="#[recordVars.rname]" level="INFO" doc:name="Logger"/>
            </batch:step>
            <batch:step name="Batch_Step1">
                <logger message="#[recordVars.rname]" level="INFO" doc:name="Logger"/>
            </batch:step>
        </batch:process-records>
        <batch:on-complete>
            <logger level="INFO" doc:name="Logger"/>
        </batch:on-complete>
    </batch:job>


</mule>
